
.budget-category-row input {
    padding-bottom: 0;
    padding-top: 0;
}

.budget-category-row td {
    padding: 0.1em;
}

.budget-category-row {

}

.budget-category-name {
    width: 15%;
}

.budget-category-description {
    width: 30%;
}


.budget-category-hours_budgeted {
    text-align: center;
    width: 12.5%;
}

.budget-category-hours_logged {
    text-align: center;
    width: 12.5%;
}

.budget-category-hours_remaining {
    text-align: center;
    width: 12.5%;
}

.budget-category-actions {
    text-align: center;
    width: 12.5%;
}

