
/*.budget-category-row {*/
/*    border-top: 1px solid gray;*/
/*    list-style: none;*/
/*    padding: 0.2em;*/
/*}*/

.entriesContainer ul {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #383e41;
    font-size: .875em;
    height: 2.3em;
    margin: 0;
    overflow: hidden;
    padding: 0 1% 0 0;
    width: 100%;
    zoom: 1;
}
.entriesContainer li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: left;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.budget-category-name {
    width: 20%;
}

.budget-category-description {
    width: 40%;
}



.budget-category-hours {
    width: 20%;
}
